// grid

.grid {
  @extend .clearfix;
  @include box-sizing(border-box);

  width: 960px;
  margin: 0 auto;

  @media(max-width: 768px){
    width: 100%;
  }
}

.grid-relative {
  @extend .grid;
  position: relative;
}


.row {
  @extend .clearfix;
  @include box-sizing(border-box);

  width: 100%;
}


$col-qtd: 12;
$col-width: 100% / $col-qtd;

@for $i from 1 through $col-qtd {
  .col-#{$i} {
    @include box-sizing(border-box);
    width: $col-width * $i;

    @media(max-width: 768px){
      width: 100%;
      margin-bottom: 20px;
    }
  }
}


.col-left {
  float: left;

  @media(max-width: 768px){
    float: none;
  }
}

.col-right {
  float: right;

  @media(max-width: 768px){
    float: none;
  }
}

.col-center {
  float: none;
  margin: 0 auto;
}
