// tables

table {
  width: 100%;
  font-size: 1.4em;
}

thead {
  tr {
    background: #eee;
  }
}

th,
td {
  max-width: 300px;
  vertical-align: top;
  padding: 10px;
  border: solid 1px #ccc;
}

td {
  line-height: 1.8em;
}

.table-autoclave {
  tr {
    &:nth-child(even){
      background: #eee;
    }
  }
}

.table-actions {
  max-width: 100px;
  text-align: center;
  vertical-align: middle;

  @media(max-width: 1000px){
    width: 50px;

    [class*="btn"]{
      margin-bottom: 10px;
    }
  }
}
