// spacings

// margins
$margin: 20px;

.margin {
	margin: 0 $margin/2;

	@media(max-width: 768px){
    margin: 0;
  }
}

.margin-top {
	margin-top: $margin;
}

.margin-bottom {
	margin-bottom: $margin;
}

.margin-left {
	margin-left: $margin;

	@media(max-width: 768px){
    margin: 0;
  }
}

.margin-right {
	margin-right: $margin;

	@media(max-width: 768px){
    margin: 0;
  }
}


.margin-small {
	margin: 0 $margin/4;
}

.margin-small-top {
	margin-top: $margin/2;
}

.margin-small-bottom {
	margin-bottom: $margin/2;
}

.margin-small-left {
	margin-left: $margin/2;

	@media(max-width: 768px){
    margin: 0;
  }
}

.margin-small-right {
	margin-right: $margin/2;

	@media(max-width: 768px){
    margin: 0;
  }
}


.margin-large {
	margin: 0 $margin;

	@media(max-width: 768px){
    margin: 0;
  }
}

.margin-large-top {
	margin-top: $margin*2;
}

.margin-large-bottom {
	margin-bottom: $margin*2;
}

.margin-large-left {
	margin-left: $margin*2;

	@media(max-width: 768px){
    margin: 0;
  }
}

.margin-large-right {
	margin-right: $margin*2;

	@media(max-width: 768px){
    margin: 0;
  }
}



// paddings
$padding: 20px;

.padding {
	padding: 0 $padding/2;

	@media(max-width: 768px){
    padding: 0;
  }
}

.padding-top {
	padding-top: $padding;
}

.padding-bottom {
	padding-bottom: $padding;
}

.padding-left {
	padding-left: $padding;

	@media(max-width: 768px){
    padding: 0;
  }
}

.padding-right {
	padding-right: $padding;

	@media(max-width: 768px){
    padding: 0;
  }
}


.padding-small {
	padding: 0 $padding/4;

	@media(max-width: 768px){
    padding: 0;
  }
}

.padding-small-top {
	padding-top: $padding/2;
}

.padding-small-bottom {
	padding-bottom: $padding/2;
}

.padding-small-left {
	padding-left: $padding/2;

	@media(max-width: 768px){
    padding: 0;
  }
}

.padding-small-right {
	padding-right: $padding/2;

	@media(max-width: 768px){
    padding: 0;
  }
}


.padding-large {
	padding: 0 $padding;

	@media(max-width: 768px){
    padding: 0;
  }
}

.padding-large-top {
	padding-top: $padding*2;
}

.padding-large-bottom {
	padding-bottom: $padding*2;
}

.padding-large-left {
	padding-left: $padding*2;

	@media(max-width: 768px){
    padding: 0;
  }
}

.padding-large-right {
	padding-right: $padding*2;

	@media(max-width: 768px){
    padding: 0;
  }
}